<div class="admin-container">
  <h1>Página de Administración</h1>

  <div class="form-section">
    <h2>Añadir Producto</h2>

    <input type="text" placeholder="Nombre" [(ngModel)]="nuevoProducto.nombre">
    <input type="text" placeholder="Descripción" [(ngModel)]="nuevoProducto.descripcion">
    <input type="number" placeholder="Precio" [(ngModel)]="nuevoProducto.precio">
    <input type="text" placeholder="Nombre imagen" [(ngModel)]="nuevoProducto.imagen_url">

    <select [(ngModel)]="nuevoProducto.tipo">
      <option value="menu">Menú</option>
      <option value="bebida">Bebida</option>
      <option value="postre">Postre</option>
    </select>

    <h3>Ingredientes</h3>

    <div class="ingredientes-selector">
      <select [(ngModel)]="ingredienteSeleccionado">
        <option value="">Seleccionar ingrediente...</option>
        <option *ngFor="let ing of ingredientes" [ngValue]="ing">
          {{ ing.nombre }}
        </option>
      </select>

      <button (click)="agregarIngredienteProducto()">Añadir ingrediente</button>
    </div>

    <div class="ingredientes-list">
      <p *ngIf="!nuevoProducto.ingredientes || nuevoProducto.ingredientes.length === 0">
        No hay ingredientes añadidos.
      </p>

      <div class="ingrediente-item" *ngFor="let ing of nuevoProducto.ingredientes">
        {{ ing.nombre }}
        <span class="remove" (click)="quitarIngredienteProducto(ing)">❌</span>
      </div>
    </div>

    <button class="crear-btn" (click)="agregarProducto()">Añadir Producto</button>
  </div>

  <br><br><br><br>

  <h2>Gestión de Usuarios</h2>

  <div class="usuarios-container">
    <table>
      <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Email</th>
        <th>Rol</th>
        <th>Cambiar Rol</th>
        <th>Eliminar</th>
      </tr>
      </thead>

      <tbody>
        @for (u of usuarios; track u.id) {
          <tr>
            <td>{{ u.id }}</td>
            <td>{{ u.nombre }} {{ u.apellidos }}</td>
            <td>{{ u.email }}</td>
            <td>{{ u.rol }}</td>
            <td>
              <select #rolSelect (change)="cambiarRol(u, rolSelect.value)">
                <option value="cliente" [selected]="u.rol === 'cliente' || !u.rol">Cliente</option>
                <option value="admin" [selected]="u.rol === 'admin'">Admin</option>
                <option value="repartidor" [selected]="u.rol === 'repartidor'">Repartidor</option>
              </select>
            </td>
            <td>
              <button class="delete-btn" (click)="eliminarUsuario(u.id)">❌</button>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
